<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.exolutus.unzip"
      version="0.1.0">
    <name>Unzip</name>
    <description>C# PhoneGap Unzip Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,unzip</keywords>


    <js-module src="unzip.js" name="UnZip">
        <clobbers target="window.unzip" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Unzip">
                <param name="android-package" value="org.exolutus.unzip.UnZip"/>
            </feature>
        </config-file>

        <source-file src="src/android/UnZip.java" target-dir="src/org/unzip/UnZip" />
     </platform>
</plugin>
